@use 'variables' as *;
@use 'base/reset';
@use 'components/card';

body {
    background-color: $primary-color;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 2rem;
  padding: 2rem 10px;
}