<%- include('partials/header') %>

        <section class="about">
        <div>
            <h2>
                Alexandra Líf
            </h2>
        </div>
    </section>

<%- include('partials/footer') %>