@use '../variables' as *;

.card {
    background-color: lighten($primary-color, 5%);
    padding: 10px;
    text-align: center; 
    
    img {
    width: 100%; 
    border-radius: 4px;
    object-fit: cover;
  }
}

.details {
    background-color: lighten($primary-color, 5%);
    padding: 10px;
    text-align: center;

    img {
    width: 50%; 
    border-radius: 4px;
    object-fit: cover;
  }
}

